@model List<DinnerManager.Models.IndexViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Deze week</h2>

<div>
@foreach (var m in Model)
{
    <ul>
        <li>
            <div>@Html.DisplayFor(item => m.Date)</div> 
            <div>@Html.DisplayFor(item => m.Name)</div>
        </li>   
    </ul>
}
</div>