@model List<DinnerManager.Models.IndexViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Toegevoegde gerechten</h2>

<div>
@foreach (var m in Model)
{
    <ul>
        <li>
            @Html.DisplayFor(item => m.Date): @Html.DisplayFor(item => m.Name)
        </li>
    </ul>
}
</div>